<% include _layouts/header %>


<div class="banner ">
    <div class="container">
        <div class="row slider">

            <div class="slide">
                <img src="./images/banner-img-1 (1).jpg" alt="">
                <div class="description first-slide">
                    <div class="slide-title">Нова колекция</div>
                    <div class="btn-container"><a class="new-collection-btn" value="">Пазарувай сега<i class="fas fa-arrow-right"></i></a></div>
                </div>
            </div>
            <div class="slide">
                <img src="./images/banner-img-3.jpg" alt="">
                <div class="description second-slide">
                    <div class="slide-title">Нова колекция</div>
                    <div class="btn-container"><a class="new-collection-btn" value="">Пазарувай сега<i class="fas fa-arrow-right"></i></a></div>
                </div>
            </div>
            <div class="slide"> <img src="./images/banner-img-4.jpg" alt="">
                <div class="description third-slide">
                    <div class="slide-title">50% </div>
                    <p>на всички очила!</p>
                    <!-- <div class="btn-container"><a class="new-collection-btn" value="">Пазарувай сега<i class="fas fa-arrow-right"></i></a></div> -->
                </div>
            </div>
            <div class="slide">
                <img src="./images/banner-img-1 (2).jpg" alt="">
                <div class="description fourth-slide">
                    <div class="slide-title">Бъди сензация!</div>
                    <!-- <div class="btn-container"><a class="new-collection-btn" value="">Пазарувай сега<i class="fas fa-arrow-right"></i></a></div> -->
                </div>

            </div>
        </div>
    </div>
</div>

<section class="collections">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="collection first-collection">
                    <img src="./images/glasses-col.jpg" alt="">
                    <div class="collection-desc"><a href="#">
                            Предложения очила
                        </a></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="collection second-collection">
                    <img src="./images/chanti.jpg" alt="">
                    <div class="collection-desc"><a href="#">
                            Предложения чанти
                        </a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="popular-products">
    <div class="container">
        <div class="section-title">
            <div class="arrows-container">
                <div class="arrow left-arrow1"><i class="fas fa-angle-left"></i></div>
                <div class="arrow right-arrow1"><i class="fas fa-angle-right"></i></div>
            </div>
            <div class="title-left">
                <h2>Популярни продукти</h2>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="popular-products-container">
            <div class="slide-products row">
                <div class=" col-md-3 col-lg-3 col-sm-3">
                    <div class="slide-card-pr">
                        <div class="img-container">
                            <div class="heart-like-wrapper">
                                <div class="heart-container">
                                    <span> <i class="far fa-heart"></i></span>
                                    <span><i class="fas fa-heart"></i></span>
                                </div>
                            </div>
                            <img src="./images/hmgoepprod (2).jpg" alt="">
                        </div>

                        <div class="pr-details-container">
                            <div class="product-title">
                                <h2>Риза Rozzi</h2>
                            </div>
                            <div class="price-like">
                                <div class="price-mini">
                                    170.00лв
                                </div>
                                <div class="add-to-bag">
                                <a href="#">   <span></span></a> 

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-md-3 col-lg-3 col-sm-3">
                    <div class="slide-card-pr">
                        <div class="img-container">
                            <div class="heart-like-wrapper">
                                <div class="heart-container">
                                    <span> <i class="far fa-heart"></i></span>
                                    <span><i class="fas fa-heart"></i></span>
                                </div>
                            </div>
                            <img src="./images/hmgoepprod (1).jpg" alt="">
                        </div>

                        <div class="pr-details-container">
                            <div class="product-title">
                                <h2>Официална риза</h2>
                            </div>
                            <div class="price-like">
                                <div class="price-mini">
                                    134.00лв
                                </div>
                                <div class="add-to-bag">
                                <a href="#">   <span></span></a> 

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-md-3 col-lg-3 col-sm-3">
                    <div class="slide-card-pr">
                        <div class="img-container">
                            <div class="heart-like-wrapper">
                                <div class="heart-container">
                                    <span> <i class="far fa-heart"></i></span>
                                    <span><i class="fas fa-heart"></i></span>
                                </div>
                            </div>
                            <img src="./images/hmgoepprod (3).jpg" alt="">
                        </div>

                        <div class="pr-details-container">
                            <div class="product-title">
                                <h2>Ефирна блуза Julieta</h2>
                            </div>
                            <div class="price-like">
                                <div class="price-mini">
                                    140.00лв
                                </div>
                                <div class="add-to-bag">
                                <a href="#">   <span></span></a> 

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-md-3 col-lg-3 col-sm-3">
                    <div class="slide-card-pr">
                        <div class="img-container">
                            <div class="heart-like-wrapper">
                                <div class="heart-container">
                                    <span> <i class="far fa-heart"></i></span>
                                    <span><i class="fas fa-heart"></i></span>
                                </div>
                            </div>
                            <img src="./images/hmgoepprod.jpg" alt="">
                        </div>

                        <div class="pr-details-container">
                            <div class="product-title">
                                <h2>Кашмирена риза Blossom</h2>
                            </div>
                            <div class="price-like">
                                <div class="price-mini">
                                   300.00лв
                                </div>
                                <div class="add-to-bag">
                                <a href="#">   <span></span></a> 

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-md-3 col-lg-3 col-sm-3">
                    <div class="slide-card-pr">
                        <img src="./images/hmgoepprod (1).jpg" alt="">
                        <div class="pr-details-container">
                            <div class="product-title">
                                <h2>Жилетка която в плетена</h2>
                            </div>
                            <div class="price-like">
                                <div class="price-mini">
                                    180.50лв
                                </div>
                                <div class="add-to-bag">
                                <a href="#">   <span></span></a> 

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-md-3 col-lg-3 col-sm-3">
                    <div class="slide-card-pr">
                        <img src="./images/hmgoepprod (1).jpg" alt="">
                        <div class="pr-details-container">
                            <div class="product-title">
                                <h2>Жилетка която в плетена</h2>
                            </div>
                            <div class="price-like">
                                <div class="price-mini">
                                    120.00лв
                                </div>
                                <div class="add-to-bag">
                                <a href="#">   <span></span></a> 

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-md-3 col-lg-3 col-sm-3">
                    <div class="slide-card-pr">
                        <img src="./images/hmgoepprod (1).jpg" alt="">
                        <div class="pr-details-container">
                            <div class="product-title">
                                <h2>Жилетка която в плетена</h2>
                            </div>
                            <div class="price-like">
                                <div class="price-mini">
                                    134.50лв
                                </div>
                                <div class="add-to-bag">
                                <a href="#">   <span></span></a> 

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="subscribtion">
    <div class="container-fluid">
        <div class="content">
            <div class="subscr-text">
                <h3>Абонирай се</h3>
                <span>за нашия бюлетин</span>
            </div>
            <div class="input">
                <div class="input-section">
                    <input type="text" placeholder="email@ex.com">
                    <button class="send-icon" type="submit"><i class="fas fa-location-arrow"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>


<% include _layouts/login-modal %>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>


<script type="text/javascript">

    $(document).ready(function () {


        let screenSize = $(window).width();
        let slidesPerShow = screenSize > 767 ? 4 : (screenSize > 480 ? 3 : 2);

        $('.slider').slick({
            adaptiveHeight: true,
            autoplay: true,
            arrows: false,
            dots: true
        });

     
        $('.slide-products').slick({
            adaptiveHeight: true,
            autoplay: false,
            arrows: true,
            prevArrow: $('.left-arrow1'),
            nextArrow: $('.right-arrow1'),
            slidesPerRow: slidesPerShow,
            dots: false
        });
       
    });



</script>
<script src="./libs/move-top.js"></script>
<script>
    jQuery(document).ready(function ($) {
        $("#scroll").click(function (event) {
            event.preventDefault();

            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 500);
        });
    });


</script>

<script>
    $(document).ready(function () {

        //     var defaults = {
        //         containerID: 'toTop', // fading element id
        //         containerHoverID: 'toTopHover', // fading element hover id
        //         scrollSpeed: 1000,
        //         easingType: 'linear'
        //     };

        $().UItoTop({
            scrollSpeed: 500
        });

    });
</script>

<script src="./script/script.js">

</script>

<% include _layouts/footer %>