<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul>
                    <li>
                        <a href="">често задавани въпроси</a>

                    </li>
                    <li>
                        <a href="">условия за ползване сайта</a>

                    </li>
                    <li>
                        <a href="">връщане и замяна на стока</a>

                    </li>
                    <li>
                        <a href="">доставка</a>

                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>
                        <a href="">магазини</a>

                    </li>
                    <li>
                        <a href="">links</a>

                    </li>
                    <li>
                        <a href="">links</a>

                    </li>
                    <li>
                        <a href="">links</a>

                    </li>
                </ul>
            </div>
            <div class="col-md-4 social-footer">
                <h3>Последвайте ни:</h3>
                <ul>
                    <li>
                        <a href=""><span><i class="fab fa-facebook-f"></i></span></a>

                    </li>
                    <li>
                        <a href=""><span><i class="fab fa-instagram"></i></span></a>

                    </li>
                    <li>
                        <a href=""><span><i class="fab fa-pinterest-p"></i></span></a>

                    </li>

                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="./js/libs/slick.js"></script>
<script src="/./js/publ-js.js"></script>
<script src="/./js/main.js"></script>

<script src="/./js/libs/move-top.js"></script>
<script>
   

    $(document).ready(function () {

        $().UItoTop({
            scrollSpeed: 500
        });

    });


</script>

</body>

</html>