<div class="login" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">


    <div class="c-container">

        <form action="/users/login" method="POST">

            <div class="login-body">

                <form action="">
                    <!-- <div class="login-form-title">
                    <h1>вход</h1>
                </div> -->
                    <div class="modal-header">
                        <h1 class="login-form-title" id="exampleModalCenterTitle">Вход</h1>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="input-container">
                        <div class="user-input">
                            <input type="text" id="email" placeholder="e-mail" name="username">
                            <i class="fas fa-envelope"></i>
                        </div>
                    </div>
                    <div class="input-container">
                        <div class="user-input">
                            <input type="password" id="password_confirm" placeholder="парола" name="password">
                            <i class="fas fa-key"></i>
                        </div>
                    </div>
                    <div class="input-container input-submit-container">
                        <input type="submit" value="вход">
                    </div>
                </form>
            </div>
        </form>
    </div>
</div>